@import "tailwindcss";
/* :root {
  --primary-color: blue;
  --secondary-color: green;
  --heading-lg: 4rem;
  --heading-md: 3rem;
  --heading-sm: 2rem;
}

h1 {
  color: var(--primary-color);
  font-size: var(--heading-lg);
} */
